.cadFar__container{
  margin: 5px auto;
  margin-top: 70px;
  width: 1200px;
  height: 535px;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: var(--primary-color);
  align-items: center;
  border-radius: 20px;
}
.cadfar__title {
margin-top: 5px;
margin-bottom: 5px;
max-width: 400px;
text-align: center;
font-size: 2rem;
}
#cadfar__formgroup{
border: 1px solid white;
margin-top: 10px;
padding: 10px;
}
.cadfar__botao__container{
margin: 5px 25px 25px 25px;
text-align: end;
}
.cadfar__botao__container button{
margin-left: 10px;
margin-right: 20px;
margin-top: 5px;
}